<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <title>Spring Data Example</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="panel-group col-xs-offset-3 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>User Login</h4></div>
        <div class="panel-body"><td th:text="${portalUser.login}"/></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>User Name</h4></div>
        <div class="panel-body">
            <span style="vertical-align:-33%"><td th:text="${portalUser.firstName +' '+ portalUser.lastName}"/></span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>User Email</h4></div>
        <div class="panel-body">
            <span style="vertical-align:-33%"><td th:text="${portalUser.email}"/></span>
            <button id="btn-editEmail" type="button" data-toggle="modal" data-target="#emailModal" class="btn pull-right middle btn-primary"><span class="glyphicon glyphicon-pencil"></span>  Edit</button>
        </div>
        <div class ="clearfix"></div>
    </div>
</div>

<div th:fragment="emailModal" class="modal fade" id="emailModal" role="dialog">
    <div class="modal-dialog">
        <form method="post" th:action="@{/details}" th:object="${portalUser}"
              class="form-control">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"/>
                    <h4 class="modal-title">Edit Email</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" th:field="*{login}">
                    <input type="text" th:field="*{email}"/>
                    <span th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}"
                          class="text-danger">
                            Email Error
                        </span>
                </div>
                <div class="modal-footer">
                    <button id="submitEditEmail"
                            class="btn btn-lg btn-primary btn-block"
                            type="submit">
                        Submit
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer" />
</body>
</html>